

<div class="container">
  <div class="td-home-header">
    <h3 class="td-home-name mt-5">Create a new stock</h3>
  </div>
  <%= simple_form_for(@stock) do |f| %>
    <div class="td-hero-content">
      <%= f.association :drink, input_html: {data: {controller: "tom-select"}, class: ""} %>
    </div>
    <%= f.input :quantity, input_html: {min: 1} %>
    <%= f.submit class: "btn btn-gold w-100 mt-3" %>
  <% end %>
</div>
