<h1>Ma Cave</h1>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Château Laffite</h2>
    <p>Année : <strong>1999</strong></p>
  </div>
</div>
