<% @friends.each do |friend|  %>
  <div><div class="card-product">
  <%= link_to(image_tag('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg', alt: 'Image Description'), user_path(friend)) %>
  <div class="card-product-infos">
    <h2><%= friend.first_name%> <%= friend.last_name%></h2>
  </div>
</div>
</div>
 <% end %>
