<%= simple_form_for @meal do |f| %>
  <%= f.input :dish_name, label: "Nom du plat" %>

  <input type="checkbox" class="toggle-checkbox" id="mon_bouton" name="with_stock" value="true">
  <label class="toggle-btn" for="mon_bouton">Ma cave</label>

  <%= f.association :guests, collection: @friends, as: :check_boxes, class:"toggle-toggle", label_method: :first_name, include_blank: false %>


  <div>
  <%= f.submit "VALIDER", class: "btn btn-warning" %>
  </div>
<% end %>
