<%= simple_form_for @meal do |f| %>
  <%= f.input :dish_name, label: "Nom du plat" %>
    <div >
    <div >
    </div>
    <button type="button"
            class="btn btn-info mb-3">
          Ma cave
    </button>
  </div>

  <%= f.submit "MATCH", class: "btn btn-warning" %>
<% end %>
