.card-product {
  overflow: hidden;
  width: 100px; /* Largeur fixe pour la card */
  background: rgb(7, 7, 7);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column; /* Changé pour mettre les éléments en colonne */
  align-items: center;
}

.card-product img {
  height: 100px; /* Hauteur de l'image */
  width: 100%; /* Prend toute la largeur de la card */
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 50%; /* Pour que le texte prenne toute la largeur */
}
